@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
 
}

.logo {
    width: 180px;
    left: 20px;
}
.header-user{
	margin-right: 15em;
	  font-family: cursive;
}
.header-last a{
	background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
    padding: 6px;
    text-decoration: none;
     transition: transform 0.3s ease;
}
.header-last a:hover{
	 background-color: white;
    color: black;
    transition: .5s;
   
  transform: scale(1.1) rotateY(1deg);
	
}
.table-container{
	margin-top:10em;
}

table {
	
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
