@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f8f8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.logo {
    width: 180px;
    left: 20px;
}
.header-first a{
	margin:30px;
	  text-decoration: none;
	  color: #666;
	  font-size: 25px;
	 
}
.header-first{
	margin-left: 30px;
}
.header-user{
	font-size:26px;
	  font-family: cursive;
}
.header-center form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 400px;
	gap:5px; 	
}
.header-center button{
padding: 9px;
   border-radius: 5px;
}

.header-last{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 60px;
	flex-direction: row;
	gap:20px;
	
}
.header-last a{
	background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: cursive;
    padding: 6px;
    text-decoration: none;
     transition: transform 0.3s ease;
}
.header-last a:hover{
	 background-color: white;
    color: black;
    transition: .5s;
   
  transform: scale(1.1) rotateY(1deg);
	
}
input[type="text"]{
    width: 100%;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: cursive;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
       font-family: cursive;
}

button[type="submit"]:hover {
    background-color: white;
    color: black;
    transition: .5s;
    }
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px;
	padding: 30px;
	margin: 6em;
	margin-top: 5em;
}

.product-card {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width:250px;
}

.info {
	padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.info img {
    width: 200px;
   height:230px;
    transition: transform 0.3s ease;
    cursor: pointer;
   
  }
.info img:hover {
    transform: scale(1.1) rotateY(1deg);
  }

.info h3 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 5px;
	
}

.info p {
	font-size: 14px;
	color: #999;
}
.info .details {
	margin-bottom: auto; 
    text-align: center; 
}

.price{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	gap:20px;
	margin-top: 20px;
}
.price p{
	color: #666;
	font-size: 20px;
	
	font-style: inherit;
	 font-weight: bolder;
	
}
 

.price button {
      text-decoration: none;
      padding: 5px 10px;
      background-color: #007bff;
      color: #fff;
       transition: transform 0.3s ease;
      border-radius: 5px;
    }
 .price   button:hover {
   transition: .5s;
  transform: scale(1.1) rotateY(1deg);
      background-color: white;
    }
    .live-sale-container {
    margin-top:8em;
        display: flex;
        overflow-x: auto;
        width:100%;
         height: 300px;
    }
    
    .live-sale-item {
        flex: 0 0 auto; 
        margin-right: 10px;
    }
     .live-sale-item img{
     height: 270px;
     margin-left: 40px;
     
     }

 footer {
        background-color: #e4e4e4;
        color: #666;
        padding: 20px 0;
        text-align: center;
       
        bottom: 0;
        width: 100%;
    }

