@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: black;
}

.header-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 1000;
}

.header-first a {
padding:30px;
 margin-left: 30px;
  font-family: "Audiowide", sans-serif;
  color: #666;
  font-size: 30px;
 text-decoration: none;
 font-weight: bold;
}
#shipping-address-form {

  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#shipping-address-form h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

#shipping-address-form .fas.fa-truck {
  margin-right: 5px;
}

#shipping-address-form label {
	
  display: block;
 	font-family:cursive;
 	}

#shipping-address-form input[type="text"],
#shipping-address-form input[type="email"],
#shipping-address-form textarea {
	font-family:cursive;
  width: 70%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.cart-container {
    max-width: 1000px;
    margin: 20px auto;
    
}
.shipping-details{
	margin-top: 8em;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	gap:100px;
	margin-bottom: 10px;
}
.payment-section{
	 margin-right: 10em;	
	 border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 30px;
}
 

.payment-section h4,p{
	font-size: 15px;
}
.payment-section span{
	padding-left: 25px;
	font-size:15px; 
}
.product-section{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 600px;
}
.data-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.cart-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;  
}

.item-image img {
    width: 70px; 
    height: 70px; 
    margin-right: 20px;
}

.item-details {
     flex-grow: 1px;
}

.item-details h2,p{
	font-size: 14px;
}

.item-details button {
    
    text-decoration: none;
   
   border:solid;
   border-width:.5px;
   color:red;
   border-radius:10px;
    font-size: 14px;
     transition: transform 0.3s ease;
     
}

.item-details button:hover {
	
    transition: .5s;
   cursor:pointer;
  transform: scale(1.1) rotateY(1deg);
     background-color: white;
}


.checkout-btn {
   background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
    font-size: 10px;
   
    font-weight: bold;
}

.checkout-btn:hover {
     background-color: white;
    color: black;transition: background-color 0.3s;
}